

<form id="create-product">
    <input id="title" type="text">
    <input id="price" type="number">
    <input type="submit" value="create product">
</form>

<ul id="productsTime">

</ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
